{
	"parserOptions": {
		"ecmaVersion": 2019,
		"sourceType": "module",
		"ecmaFeatures": {
			"impliedStrict": true
		}
	},
	"env": {
		"browser": true
	},
	"extends": "eslint:recommended",
	"rules": {
		"indent": ["error", "tab"],
		"quotes": ["error", "single"],
		"arrow-parens": ["error", "always"],
		"no-console": "warn"
	}
}
