{
	"extends": ["eslint:recommended", "plugin:jsdoc/recommended"],
	"plugins": ["immutable", "jsdoc"],
	"env": {
		"browser": true,
		"es6": true
	},
	"parserOptions": {
		"ecmaVersion": 2020,
		"sourceType": "module"
	},
	"rules": {
		"complexity": ["error", 10],
		"indent": ["error", "tab"],
		"linebreak-style": ["error", "unix"],
		"quotes": ["error", "single"],
		"semi": ["error", "always"],
		"no-magic-numbers": ["error", { "ignore": [0, 1] }],
		"no-console": "error",
		"immutable/no-let": "error",
		"immutable/no-mutation": "error",
		"jsdoc/require-param-description": "off",
		"jsdoc/require-returns-description": "off",
		"jsdoc/require-file-overview": "warn"
	},
	"overrides": [
		{
			// UI consists of web components with a role to manipulate DOM,
			// so it cannot avoid mutation
			"files": ["*/ui/*.js"],
			"rules": {
				"immutable/no-mutation": "off"
			}
		},
		{
			// unit-testing.js logs results of tests to node.js console
			"files": ["unit-testing.js"],
			"rules": {
				"no-console": "off"
			}
		},
		{
			// day-off.js and holiday.js contain a lot of date declarations
			// that cannot be created without magic numbers
			"files": ["day-off.js", "holiday.js", "**/*.test.js"],
			"rules": {
				"no-magic-numbers": "off"
			}
		},
		{
			"files": ["**/*.test.js"],
			"env": { "node": true },
			"rules": {
				// they are required to create test data
				"no-magic-numbers": "off",
				// test files' purpose is obvious
				"jsdoc/require-file-overview": "off"
			}
		}
	]
}
