/* GENERIC */
*,
*::after,
*::before {
	/* border-box is more intuitive and consistent for styling */
	box-sizing: border-box;
}

html,
body {
	/* height: 100vh is not used, as it causes bug on mobile browsers */
	height: 100%;
}

/* RESET */
h1,
body,
p {
	margin: 0;
}

select {
	-webkit-appearance: none;
	appearance: none;
}

/* Remove spinner on Firefox */
input[type='number'] {
	-moz-appearance: textfield;
}

/* TYPOGRAPHY */
@font-face {
	font-family: 'Roboto';
	src: url('../assets/fonts/roboto-regular.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Roboto';
	src: url('../assets/fonts/roboto-bold.woff') format('woff');
	font-weight: bold;
	font-style: normal;
}

/* Default font */
body {
	font-size: var(--font-size-2);
	font-family: 'Roboto', sans-serif;
	line-height: 1.5;
	color: var(--neutral-8);
}
