@font-face {
  font-family: "Roboto";
  src: url("../assets/fonts/roboto-regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: url("../assets/fonts/roboto-bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}
